@tailwind base;
@tailwind components;
@tailwind utilities;

.neumorphism-button {
  @apply outline-none;
  color: var(--foreground-color);
  background-color: var(--background-color);
  box-shadow: var(--size) var(--size) calc(var(--size) * 2) var(--shadow-color-1), calc(var(--size) * -1) calc(var(--size) * -1) calc(var(--size) * 2) var(--shadow-color-2);
}

.neumorphism-button:active {
  box-shadow: inset var(--size) var(--size) calc(var(--size) * 2) var(--shadow-color-1), inset calc(var(--size) * -1) calc(var(--size) * -1) calc(var(--size) * 2) var(--shadow-color-2);
}

.indicator {
  @apply flex items-center gap-2 absolute left-52 whitespace-nowrap;
}

.indicator-line {
  @apply w-48 h-0;
  border-top-width: 1px;
  border-style: dashed;
  border-color: var(--foreground-color);
  opacity: 0.3;
}

.indicator:nth-child(1) {
  @apply -top-16 -translate-y-1/2
}

.indicator:nth-child(2) {
  @apply -top-2 -translate-y-1/2
}

.indicator:nth-child(3) {
  @apply top-1/2 -translate-y-1/2
}

.indicator:nth-child(4){
  @apply -bottom-2 translate-y-1/2
}

.neumorphism-button:active .indicator:nth-child(2) {
  @apply bottom-2 translate-y-1/2
}

.neumorphism-button:active .indicator:nth-child(4) {
  @apply top-2 -translate-y-1/2
}

.neumorphism-text {
  color: var(--foreground-color);
  text-shadow: var(--size) var(--size) calc(var(--size) * 2) var(--shadow-color-1), calc(var(--size) * -1) calc(var(--size) * -1) calc(var(--size) * 2) var(--shadow-color-2);
}
